<form class="new" action="/editItem" method="post">
    <input type="text" name="review" placeholder="Review" autocomplete="off" autofocus="true" />
    <input type="text" name="rating" placeholder="Rating" autocomplete="off" autofocus="true" />
    <button name="editedItem" value=<%= id %> type="submit">submit</button>
</form>