<form class="new" action="/submit" method="post">
    <input type="text" name="coverID" placeholder="CoverID" autocomplete="off" autofocus="true" />
    <input type="text" name="review" placeholder="Review" autocomplete="off" autofocus="true" />
    <input type="text" name="rating" placeholder="Rating" autocomplete="off" autofocus="true" />
    <button name="newItem" type="submit">submit</button>
</form>